.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.header {
  font-weight: bold;
  margin-bottom: 20px;
}
.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
}
.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resultSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transactionList {
  display: flex;
  justify-content: space-around;
}
.boxStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #aaa5a5;
  padding: 5px 10px;
  width: 120px;
  border-radius: 5px;
}
.balanceStyle {
  font-weight: bold;
}
/* .expenseStyle {
  color: red;
  font-weight: bold;
} */
.incomeStyle {
  color: green;
  font-weight: bold;
}
.btn {
  outline: none;
  padding: 5px 10px;
  background-color: #ede9fe;
  color: #6d28d9;
  border-radius: 5px;
  border: 1px solid #6d28d9;
  cursor: pointer;
}
.primary {
  border: none;
  background-color: #6d28d9;
  color: #fff;
  padding: 8px 10px;
}
.cancle {
  background-color: #fff;
  color: #dc2626;
  border: 1px solid #dc2626;
}
.form {
  display: flex;
  flex-direction: column;
  min-height: 170px;
  justify-content: space-between;
  margin-bottom: 30px;
}
input {
  border: 1px solid #ccc;
  padding: 10px 12px;
  outline: none;
  border-radius: 5px;
}
input[type="radio"] {
  margin-left: 10px;
}
.radioBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
.radioBox label {
  margin-left: 3px;
}
.transactionList {
  border-radius: 5px;
  background-color: #f4f4f5;
  padding: 3px 10px;
  font-weight: bold;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border-right: 4px solid green;
}
